* {
	margin: 0;
	padding: 0;
}

body {
	background:
		url('http://getbg.net/upload/full/www.GetBg.net_Love_____Couple_in_love_084552_.jpg');
	background-size: cover;
	background-position: fixed;
}

.logo {
	text-shadow: 2px 2px 2px silver, -2px -2px 2px silver, -2px 2px 2px
		silver, 2px -2px 2px silver, 4px 4px 5px #F0E68C, -4px -4px 5px
		#F0E68C, -4px 4px 5px #F0E68C, 4px -4px 5px #F0E68C, 6px 6px 9px
		#F4A460, -6px -6px 9px #F4A460, -6px 6px 9px #F4A460, 6px -6px 9px
		#F4A460;
	font-size: 80px;
	font-family: klee;
	padding: 0 0 50px 20px;
}

.letter {
	font-family: apple chancery;
	font-size: 120px;
}

.regForm td {
	padding: 5px;
}

.button td {
	width: 100px;
	padding: 10px;
}

.regForm {
	width: 30%;
	margin: 3% auto;
	background: rgba(100, 100, 100, 0.6);
	border-radius: 10px;
	padding: 30px;
}

.info {
		
}